<% content_for :title do %>IST Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="rebels" data-view="List" data-unordered="true" data-title="Rebels" data-moreinfo=""></div>
    </li>
  </ul>
</div>
